@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Csira Issue Tracker</h1>
    <p>Browse work items at <a asp-controller="Issues" asp-action="Index">Issues</a>.</p>
</div>
